.container {
  width: 80%;
  margin: 40px auto;
  flex-direction: row;
  background: rgba(251, 252, 250, 0.02);
  border-radius: 5px;
  padding: 32px;
  color: white;
  text-align: left;
}

.container h1 {
  padding: 40px 0;
  text-align: center;
}

.container p {
  margin-bottom: 30px;
}

.container_detail {
  display: flex;
  justify-content: center;
}

.container_images {
  flex: 0.4;
  display: flex;
  flex-wrap: wrap;
}

.aboutme-picture {
  flex: 0.4;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.container_text {
  flex: 0.4;
  margin-left: 32px;
}
