.container {
  width: 80%;
  margin: 40px auto;
  flex-direction: row;
  background: rgba(251, 252, 250, 0.02);
  border-radius: 5px;
  padding: 32px;
  color: white;
  text-align: left;
}

.container h1 {
  padding: 40px 0;
  text-align: center;
}

.container p {
  margin-bottom: 30px;
}
