/* .hero {
  padding: 0 0 150px 0;
} */

.my_title {
  margin-bottom: 150px;
}


.hero {
  background: rgba(251, 252, 250, 0.020);
  border-radius: 5px;
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding: 64px;
  color: white;

  line-height: 1.7;
}

.info_text {
  padding: 0 40px;
  text-align: left;
}

.info_text_heading {
  font-size: 48px;
}

.location {
  font-size: 32px;
}

.icons {
  padding: 0;
  margin: 0;
  font-size: 24px;
}

.pitch {
  font-size: 18px;
  margin: 32px 0;
}

.my_name {
  font-size: 56px;
}

/* .image {
  width: 450px;
} */

.profile_picture {
  max-width: 100%;
}

.button {
  position: inherit;
  right: 0px;
  font-size: 18px;
}
