.menu {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  margin: 16px 32px 150px 32px;
  font-size: 16px;
}

.logo {
  font-size: 24px;
  font-weight: 700;
}

.list {
  list-style-type: none;
  display: flex;
}

.list li {
  padding-left: 32px;
}
