.menu {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  margin: 16px 32px 150px 32px;
  font-size: 16px;
  position: relative;
}

.logo {
  font-size: 24px;
  font-weight: 700;
}

.list {
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  list-style-type: none;
  display: flex;
  position: absolute;
  right: 0px;
}

.list a {
  color: #906860;
  text-decoration: none;
  padding-left: 32px;
}

.list a:hover {
  font-size: 19px;
  color: #fff;
}

.burger {
  display: none;
}

.slides {
  display: none;
}

@media only screen and (min-width: 280px) and (max-width: 768px) {
  body {
    max-width: 100vw;
  }

  .logo {
    font-size: 16px;
    align-self: flex-start;
    z-index: 0;
  }

  .menu {
    margin: 16px 32px 100px 32px;
  }

  .close {
    visibility: hidden;
  }

  .burger {
    display: block;
    width: 30px;
    height: auto;
    align-self: baseline;
    z-index: 0;
  }

  .slides {
    background-color: #fff;
    width: 30px;
    height: 2px;
    margin-bottom: 8px;
    cursor: pointer;
    display: block;
  }

  .open {
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    z-index: 111;
    width: 100vw;
    height: 100vh;
    padding: 0;
  }

  .open a {
    padding: 60px 0;
    color: black;
    font-size: 48px;
    font-weight: 800;
    /* display: flex; *
    color: black;
    /* padding: 20px 0; */
  }

  .footer {
    margin-top: 50px;
  }
}
