.projects {
    width: 80%;
    margin: 40px auto;
    flex-direction: row;
    background: rgba(251, 252, 250, 0.020);
    border-radius: 5px;
    padding: 32px;
    color: white;
}

.project {
    display: flex;
    justify-content: space-between;
}

.projects h2 {
    font-size: 32px;
    padding-bottom: 32px;
}

.project_description {
    text-align: left;
    padding-right: 32px;
}