.projectContainer {
  width: 80%;
  margin: 40px auto;
  flex-direction: row;
  background: rgba(251, 252, 250, 0.02);
  border-radius: 5px;
  padding: 32px;
  color: white;
}

.project {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.projectContainer h2 {
  font-size: 32px;
  padding-bottom: 32px;
}

.project_image {
  padding-right: 32px;
}

.project_description {
  text-align: left;
  padding: 0 32px;
}

.button {
  width: 200px;
  cursor: pointer;
}


.button:hover,
.MuiSvgIcon-root:hover {
  background-color: transparent;
  border: 2px solid white;
  color: #fff;
  transition: 0.6s;
}


/* MEDIA Query */

@media screen and (min-width: 200px) and (max-width: 736px){
  .projects {
      display: flex;
      flex-direction: column;
  }

  .project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 0; */
    /* margin: 0; */
  }

  .project_description {
    padding: 0;
  }

  .project_image {
    padding: 0;

    margin: 20px 0;
  }

  .button {
    margin-bottom: 20px;
  }
}
