.projects {
    width: 80%;
    margin: 40px auto;
    flex-direction: row;
    background: rgba(251, 252, 250, 0.020);
    border-radius: 5px;
    /* padding: 54px; */
    color: white;
}

.project {
    display: flex;
    justify-content: space-between;
}